/***TABLET MEDIA */
@media screen and (max-width: 768px) {
  /* DEMO APP */
  .container {
    width: 90vw;
  }
  .card-left,
  .card-right {
    width: 100%;
  }

  /* PICTURE */
  #picture .col1-2 {
    width: 100%;
  }
  #picture > .container {
    padding: 0;
  }

  /* TESTIMONIAL */

  /* BENEFITS */
  #benefits .col1-3 {
    width: 50%;
  }

  /* #ABOUT-US */
  .col70 {
    width: 60%;
  }
  .col30 {
    width: 40%;
  }
  #about-us > .container {
    padding: 0;
    margin: 0 auto;
  }

  /* TRIAL */
  #trial > .container {
    padding: 2rem 4rem;
  }

  /* FOOTER */

  #footer > .container {
    padding: 2rem 4rem;
  }
}

/***MOBILE MEDIA */
@media screen and (max-width: 480px) {
  /* DEMO APP */
  #demo-app .col1-3,
  #demo-app .col2-3 {
    width: 100%;
  }

  /* PICTURE */

  /* TESTIMONIAL */
  .col80,
  .col20 {
    width: 100%;
  }

  /* BENEFITS */
  #benefits .col1-3 {
    width: 100%;
  }

  /* #ABOUT-US */
  .col70 {
    width: 100%;
  }
  .col30 {
    width: 100%;
  }

  /* TRIAL */
  #trial > .container {
    padding: 2rem 0;
  }

  /* FOOTER */

  #footer > .container {
    padding: 2rem 0;
  }
}
