/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  display: inline-block;
}
li {
  display: inline-block;
}
a {
  text-decoration: none;
}
body {
  font-family: "Fredoka", sans-serif;
  font-size: 0.8rem;
}

/* ROOT */
:root {
  --primary-color: #9792e4;
  --secondary-color: #0084fd;
  --card-bg: #b5ddff;
  --card-color: #5a6e7f;
}

/* GENERICS */

.container {
  width: 65%;
  margin: 0 auto;
  padding: 0 1rem;
}
.webapp {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/***GRID***/

.row {
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  flex-wrap: wrap;
}

.col1-3 {
  width: calc(100% / 3);
}
.col2-3 {
  width: calc(100% / 3 * 2);
}
.col1-2 {
  width: calc(100% / 2);
}

[class*="col"] {
  padding: 1rem;
}

/* HEADER */
#header {
  background-color: var(--secondary-color);
}

#header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
nav {
  padding: 10px 0;
}

.logo img {
  height: 30px;
}
nav li {
  margin-right: 1rem;
  font-size: 0.8rem;
}
.started {
  display: inline-block;
  background-color: white;
  padding: 5px 10px;
  border-radius: 15px;
}
.started a {
  color: black;
}
li a {
  color: white;
}

.menu {
  display: none;
  font-size: 1.5rem;
  color: white;
}
/* DEMO APP */

.card {
  background-color: var(--card-bg);
  color: var(--card-color);
  padding: 0 1.5rem;
  border-radius: 20px;
  line-height: 20px;
  font-weight: 500;
  height: 100%;
}
#demo-app h3 {
  color: var(--secondary-color);
  margin: 1rem 0;
  font-size: 1.1rem;
}

.col2-3 > .card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
}
#demo-app {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}
.store {
  background-color: var(--secondary-color);
  color: white;
  margin: 2rem 0;
  padding: 6px 2.5rem;
  display: inline-block;
  border-radius: 15px;
  font-size: 0.8rem;
}
.col2-3 .card-left {
  width: calc(100% / 2 - 15px);
}
.col2-3 .card-right {
  width: calc(100% / 2 - 15px);
  display: flex;
  justify-content: center;
}
.col2-3 .card-right img {
  height: 200px;
  display: block;
}
#demo-app .col1-3 .card {
  text-align: center;
  padding: 20px;
}
.col1-3 .card i {
  font-size: 4rem;
  color: var(--secondary-color);
}
/* PICTURE */

#picture {
  background-color: var(--primary-color);
  color: white;
}

#picture > .container {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  max-width: 50vw;
}

/* TESTIMONIAL */

#testimonial {
  margin: 2.5rem 0;
  text-align: center;
}

.feedback {
  background-color: var(--primary-color);
  color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.col20 {
  width: 20%;
}
.col80 {
  width: 80%;
}

/* BENEFITS */

#benefits {
  background-color: var(--primary-color);
  color: var(--card-color);
  padding-bottom: 2rem;
}
#benefits h2 {
  text-align: center;
  color: white;
  padding: 3rem 0;
}
.box {
  background-color: white;
}

/* #ABOUT-US */

#about-us > .container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 7rem;
  margin: 2.5rem auto;
}
.col70 {
  width: 70%;
}
.col30 {
  width: 30%;
  position: relative;
  color: var(--primary-color);
}

#about-us h2 {
  text-align: left;
  color: var(--primary-color);
  padding: 1rem 0;
}

.quotes {
  position: absolute;
  top: 0;
  right: 0;
}

/* TRIAL */
#trial {
  text-align: center;
  background-color: var(--primary-color);
}
#trial > .container {
  padding: 2rem 15rem;
}

/* FOOTER */

#footer {
  background-color: #333333;
  text-align: center;
  color: #e5e5e5;
}

#footer > .container {
  padding: 2rem 18rem;
}
