/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  display: inline-block;
}
li {
  display: inline-block;
}
a {
  text-decoration: none;
}
body {
  font-family: "Fredoka", sans-serif;
  font-size: 0.8rem;
}

/* ROOT */
:root {
  --primary-color: #9792e4;
  --secondary-color: #0084fd;
  --card-bg: #b5ddff;
  --card-color: #5a6e7f;
}

/* GENERICS */

.container {
  width: 65%;
  margin: 0 auto;
  padding: 0 1rem;
}
.webapp {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/***GRID***/

.row {
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  flex-wrap: wrap;
}

.col1-3 {
  width: calc(100% / 3);
}
.col2-3 {
  width: calc(100% / 3 * 2);
}
.col1-2 {
  width: calc(100% / 2);
}

[class*="col"] {
  padding: 1rem;
}

/* HEADER */
#header {
  background-color: var(--secondary-color);
}

#header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
nav {
  padding: 10px 0;
}

.logo img {
  height: 30px;
}
nav li {
  margin-right: 1rem;
  font-size: 0.8rem;
}
.started {
  display: inline-block;
  background-color: white;
  padding: 5px 10px;
  border-radius: 15px;
}
.started a {
  color: black;
}
li a {
  color: white;
}

.menu {
  display: none;
  font-size: 1.5rem;
  color: white;
}
/* DEMO APP */

.card {
  background-color: var(--card-bg);
  color: var(--card-color);
  padding: 0 1.5rem;
  border-radius: 15px;
  line-height: 20px;
  font-weight: 500;
  height: 100%;
}
#demo-app h3 {
  color: var(--secondary-color);
  margin: 1rem 0;
  font-size: 1.1rem;
}

.col2-3 > .card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
}
#demo-app {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}
.store {
  background-color: var(--secondary-color);
  color: white;
  margin: 2rem 0;
  padding: 6px 2.5rem;
  display: inline-block;
  border-radius: 15px;
  font-size: 0.8rem;
}
.col2-3 .card-left {
  width: calc(100% / 2 - 15px);
}
.col2-3 .card-right {
  width: calc(100% / 2 - 15px);
  display: flex;
  justify-content: center;
}
.col2-3 .card-right img {
  height: 200px;
  display: block;
}
#demo-app .col1-3 .card {
  text-align: center;
  padding: 20px;
}
.col1-3 .card i {
  font-size: 4rem;
  color: var(--secondary-color);
}
/* PICTURE */

#picture {
  background-color: var(--primary-color);
  color: white;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

#picture p {
  line-height: 20px;
}

#picture > .container {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  max-width: 50%;
}
#picture .col1-2 > img {
  margin-bottom: 6rem;
}
#picture h2 {
  margin-bottom: 35px;
  font-size: 1.5rem;
  font-weight: 600;
}
#picture h3 {
  margin-bottom: 15px;
  font-size: 1.1rem;
  font-weight: 600;
}
#picture .col1-2 .card {
  background-color: white;
  border-radius: 35px;
  text-align: center;
  color: black;
}
#picture .col1-2 .card img {
  height: 170px;
  margin: 25px 0;
}
#picture .col1-2 .card p {
  font-weight: 500;
  font-style: italic;
}
.arrow {
  background-color: var(--primary-color);
  margin: 1rem 0;
  display: inline-block;
  border-radius: 50%;
  padding: 18px;
  position: relative;
}
.arrow span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* TESTIMONIAL */

#testimonial {
  margin: 2.5rem 0;
  text-align: center;
}
#testimonial h2 {
  color: var(--primary-color);
  font-size: 2.2rem;
  font-weight: 500;
  margin: 2rem 0;
}
#testimonial p {
  font-size: 15px;
  margin-bottom: 2rem;
}

.feedback {
  background-color: var(--primary-color);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 0;
  border-radius: 35px;
  text-align: left;
  font-size: 1rem;
  line-height: 25px;
  font-weight: 300;
  padding: 10px 0;
  gap: 15px;
}

.col20 {
  width: calc(20% - 7px);
  display: flex;
  justify-content: center;
}
.col80 {
  width: calc(80% - 8px);
}
.img-round {
  border-radius: 50%;
  aspect-ratio: 1;
  width: 100%;
  overflow: hidden;
  min-width: 80px;
}

.img-round img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.name {
  display: block;
  margin-top: 15px;
  font-size: 1.1rem;
  font-weight: 400;
}

/* BENEFITS */

#benefits {
  background-color: var(--primary-color);
  color: var(--card-color);
  padding-bottom: 2rem;
}
#benefits h2 {
  color: white;
  font-size: 2.2rem;
  font-weight: 500;
  padding-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
#benefits .card {
  background-color: white;
}
#benefits .col1-3 .card > h2,
#about-us .col70 > h2 {
  color: var(--primary-color);
  text-align: left;
  font-size: 3.5rem;
  line-height: normal;
  margin-bottom: 1rem;
}
#benefits h3 {
  color: var(--primary-color);
  margin: 1rem 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.more {
  display: inline-block;
  background-color: var(--primary-color);
  color: white;
  padding: 5px 40px 5px 40px;
  margin: 1.5rem 0;
  border-radius: 35px;
}

/* #ABOUT-US */

#about-us > .container {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  margin: 2.5rem auto;
}
.col70 {
  width: 70%;
}
.col30 {
  width: 30%;
  position: relative;
  color: var(--primary-color);
}

#about-us h2 {
  text-align: left;
  color: var(--primary-color);
  padding: 1rem 0;
}

#about-us p {
  margin-bottom: 1.5rem;
  line-height: 30px;
  font-size: 1rem;
}
#about-us h3 {
  color: var(--primary-color);
  margin: 1rem 0;
  font-size: 1.3rem;
  font-weight: 600;
}
.button {
  color: white;
  background-color: var(--primary-color);
  display: inline-block;
  border-radius: 25px;
  padding: 5px 10px;
  font-size: 0.7rem;
}
.quotes {
  position: absolute;
  font-size: 5rem;
  top: 0;
  right: 0;
}

/* TRIAL */
#trial {
  text-align: center;
  background-color: var(--primary-color);
  color: white;
}
#trial > .container {
  max-width: 30%;
  padding: 2.5rem 0;
}
#trial h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
#trial h2 {
  color: #fdc15f;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
#trial .started {
  display: inline-block;
  background-color: white;
  color: var(--primary-color);
  border-radius: 35px;
  padding: 15px 40px;
  margin: 1.5rem 0;
}
.copyright {
  display: block;
}
.copyright a {
  text-decoration: underline;
  color: white;
}
/* FOOTER */

#footer {
  background-color: #333333;
  text-align: center;
  color: #e5e5e5;
}

#footer > .container {
  max-width: 25%;
  padding: 2.5rem 0;
}

.footer-text {
  margin-top: 3rem;
}
.footer-text a {
  text-decoration: underline;
  color: var(--primary-color);
}
