/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* ROOT */
:root {
  --primary-color: #9792e4;
  --secondary-color: #0084fd;
  --card-bg: #b5ddff;
  --card-color: #5a6e7f;
}

/* GENERICS */

.container {
  width: 70vw;
  margin: 0 auto;
  padding: 0 1rem;
}
.webapp {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/***GRID***/

.row {
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  flex-wrap: wrap;
}

.col1-3 {
  width: calc(100% / 3);
}
.col2-3 {
  width: calc(100% / 3 * 2);
}
.col1-2 {
  width: calc(100% / 2);
}

[class*="col"] {
  padding: 1rem;
}

/* HEADER */
#header {
  background-color: var(--secondary-color);
  color: white;
}

#header > .container {
  display: flex;
  justify-content: space-between;
}

.logo,
nav {
  padding: 10px 0;
}

/* DEMO APP */

.card {
  background-color: var(--card-bg);
  color: var(--card-color);
  padding: 10px;
}

.col2-3 > .card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#demo-app {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

/* PICTURE */

#picture {
  background-color: var(--primary-color);
  color: white;
}

#picture > .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem 5rem;
}

/* TESTIMONIAL */

#testimonial {
  margin: 2.5rem 0;
  text-align: center;
}

.feedback {
  background-color: var(--primary-color);
  color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.col20 {
  width: 20%;
}
.col80 {
  width: 80%;
}

/* BENEFITS */

#benefits {
  background-color: var(--primary-color);
  color: var(--card-color);
  padding-bottom: 2rem;
}
#benefits h2 {
  text-align: center;
  color: white;
  padding: 3rem 0;
}
.box {
  background-color: white;
}

/* #ABOUT-US */

#about-us > .container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 7rem;
  margin: 2.5rem auto;
}
.col70 {
  width: 70%;
}
.col30 {
  width: 30%;
  position: relative;
  color: var(--primary-color);
}

#about-us h2 {
  text-align: left;
  color: var(--primary-color);
  padding: 1rem 0;
}

.quotes {
  position: absolute;
  top: 0;
  right: 0;
}
